.bg-gray{
  background-color: #f5f5fa;
  padding-bottom:var(--cont-gap);
}
.main-sec .container{
  padding-top: 80px;
}
.pick{
  margin-top:20px;
}
.pick strong{
  margin-right:20px;
  color:var(--primary-color);
  vertical-align: middle;
  font-size:20px;
  font-family: 700;
  font-style: italic;
}
.pick .label{
  display: inline-block;
  margin-right: 10px;
  background: #e6e6e6;
  color: var(--c-gray);
}
.list-live figure{
  position:relative;
}
.list-live .label{
  position:absolute;
  bottom:14px;
  left: 14px;
  background: var(--c-boldgreen);
}

