.best-news li{
  line-height: 1.8;
}
.best-news li a{
  display: block;
  width: 100%;
  font-size:14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.best-news li a:hover{
  text-decoration: underline;
}

aside .banner{
  display: block;
  margin-top: 10px;
}

.vod-row {
  display: flex;
  gap:10px;
  align-items: center;
}
.vod-row:hover .title{
  text-decoration: underline;
}
.vod-row figure{
  flex-shrink: 0;
  width: 86px;
  height: 55px;
  overflow: hidden;
}
.vod-row .title{
  line-height: 1.2;
  font-weight:400;
  font-weight: 500;
}
.vod-row  .txt-small {
  margin-top: 4px;
  font-size:1.2rem;
  color: var(--c-gray);
}